.btn {
  display: block;
  width: 31.3rem;
  height: 7.3rem;
  border: 1px solid $color-primary;
  padding: 2.5rem 9rem;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.26px;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  text-decoration: none;

  &--center {
    margin: 0 auto;
    padding: 2.5rem 6rem;
    width: 38rem;
  }

  &--white {
    background-color: #fff;
    padding: 2.2rem 9.5rem;
    width: 27rem;
    height: 6.5rem;
    color: $color-primary;
    z-index: 1;
  }

  &--transparent {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }
}
